<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="weblayer.transportador.android.exp" android:versionCode="3" android:versionName="1.2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="24" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  
	<application android:label="W/Transportador Exp" android:theme="@style/MaterialTheme" android:largeHeap="true" android:hardwareAccelerated="false" android:icon="@drawable/ic_launcher3"></application>
</manifest>
<!--.weblayer.transportador.android.exp-->