<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="weblayer.transportador.android.exp" android:versionCode="6" android:versionName="1.5" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="W/Transportador Exp" android:theme="@style/MaterialTheme" android:largeHeap="true" android:hardwareAccelerated="false" android:icon="@mipmap/ic_launcher"></application>
</manifest>