<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="weblayer.transportador.android.pro.weblayer.transportador.android.pro" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="weblayer.transportador.android.pro"></application>
</manifest>